soa-cap07-contractfirst/src/main/webapp/WEB-INF/schemas/usuarios_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://ggdio.com.br/usuarios/domain/v1"
		xmlns:tns="http://ggdio.com/usuarios/domain/v1">
		
		<annotation>
			<documentation>
				Schema canonico para o sistema de usuários, versão 1.0
			</documentation>
		</annotation>
		
		<complexType name="usuario">
			<sequence>
				<element name="id" type="long"/>
				<element name="nome" type="string"/>
				<element name="login" type="string" />
				<element name="senha" type="string"/>
			</sequence>
		</complexType>
		
</schema>